@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(yellow);
  background-image: linear-gradient(
      115deg,
      rgba(245, 242, 47, 0.8),
      rgba(205, 231, 108, 0.7)
    ),
    url(https://bandzoogle.com/files/3627/bzblog-how-to-design-a-great-songwriter-website-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  background-color: #DDDDDD;
}

header {
  background-color:black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header h1 {
  color: #DDDDDD;
  font-weight: 400;
  line-height: 1.2;
}

header h1 span {
  color: yellow;
}

header p {
  color: #DDDDDD;
  font-size: 1.125rem;
}

/* form */
form {
  background-color: black;
  color: #DDDDDD;
  margin: 0 auto;
  width: 60%;
  padding: 1em;
  border-radius: 1em;
  margin-top: 20px;
  align-items: center;
}
form #survey-form {}
/* lable titles and services */
label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

form label input {
}
form #services-label {}
form select {}
form option {}
form label input {}
form button {
  background-color: #504747;
  color: #DDDDDD;
}
